*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}


#navbar{
    box-shadow: 1px 2px 5px 2px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#navbar>nav{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: sans-serif;
}
